<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{'products.ProductsList' | translate}}
                </span>
            </div>
            <!-- / APP TITLE -->
            <!-- CONDITION -->

            <div style="min-width: 10%; max-width: 10%;">
                <mat-form-field style="display: block;" floatLabel='always'>
                    <mat-label class="searchTextLabel">{{'products.MainCategory' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.MainCategoryReferenceId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let item of mainCategoryList" [value]="item.Id">{{item.Label||item.Code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="min-width: 10%; max-width: 10%;">
                <mat-form-field style="display: block;" floatLabel='always'>
                    <mat-label class="searchTextLabel">{{'products.SecondCategory' | translate}}</mat-label>
                    <mat-select multiple [(ngModel)]="searchCriteria.SecondCategoryReferenceId">
                        <mat-option *ngFor="let item of getSecondCategoryList()" [value]="item.Id">
                            {{item.Label||item.Code}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="min-width: 10%; max-width: 10%;">
                <mat-form-field style="display: block;" floatLabel='always'>
                    <mat-label class="searchTextLabel">{{'products.Status' | translate}}</mat-label>
                    <mat-select [(ngModel)]="searchCriteria.Validity">
                        <mat-option *ngFor="let item of statusList" [value]="item.Value">{{item.Label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="{{'products.SearchProduct' | translate}}"
                        [(ngModel)]="searchCriteria.ProductLabel">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="['/apps/e-commerce/product/']" [queryParams]="{Id:0 , View :view}"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>{{'products.AddNewProducts' | translate}}</span>
            </button>
            <!-- / ADD BUTTON -->
            <button mat-raised-button (click)="search()" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>{{'products.Search' | translate}}</span>
            </button>

            <button mat-raised-button (click)="export()" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>{{'products.Export' | translate}}</span>
            </button>

          
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="productList" matSort
                (matSortChange)="sortData($event)" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>


                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef style="max-width: 10%;"></mat-header-cell>
                    <mat-cell *matCellDef="let product" style="max-width: 10%;">
                        <button mat-button color="primary" (click)="AddProductIntoCart(product, $event)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="reference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'products.Reference' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.Code}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef>{{'products.Photos' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image" *ngIf="product.DefaultPhotoPath" [alt]="product.Label"
                            [src]="environment.url + product.DefaultPhotoPath" />
                        <img *ngIf="!product.DefaultPhotoPath"
                            [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'products.Name' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.Label}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="MainCategory">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>
                        {{'products.MainCategory' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.MainCategoryLabel}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SecondCategory">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>
                        {{'products.SecondCategory' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.SecondCategoryLabel}}
                        </p>
                    </mat-cell>
                </ng-container>


                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        {{'products.Price' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{product.Price | currency:'EUR':'symbol'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
                        {{'products.Status' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="product.Validity" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!product.Validity" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple
                    (click)="saveCriteria()" [routerLink]="['/apps/e-commerce/product/']"
                    [queryParams]="{Id:product.ProductId, View :view }">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="totalCount" [pageIndex]="searchCriteria.begin"
                [pageSize]="searchCriteria.step" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = getServerData($event)">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>