<!-- SIDENAV HEADER -->
<div class="sidenav-header">
    <!-- CHATS TOOLBAR -->
    <mat-toolbar>

        <!-- TOOLBAR BOTTOM -->
        <mat-toolbar-row>

            <!-- SEARCH -->
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-16 secondary-text">search</mat-icon>
                    <input [(ngModel)]="searchText" type="text" placeholder="Search or start new chat" fxFlex>
                </div>

            </div>
            <!-- / SEARCH -->

        </mat-toolbar-row>
        <!-- / TOOLBAR BOTTOM -->

    </mat-toolbar>
    <!-- / CHATS TOOLBAR -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="sidenav-content" fusePerfectScrollbar fxFlex>

    <!-- CHATS CONTENT -->
    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- CHATS LIST-->
        <div class="chat-list" fxLayout="column">

            <h3 *ngIf="users.length > 0" style="margin-left: 5px; margin-bottom: 0px;">
                Chats
            </h3>

            <button mat-button class="contact"
                    *ngFor="let chat of users"
                    (click)="getChat(chat)" ngClass="{'unread':chat.LastMessage.IsReaded==null}"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="row" fxFlex>

                        <div class="pr-4" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{chat.Username}}</div>
                            <div *ngIf="chat.LastMessage&&chat.LastMessage.Body" class="contact-last-message">{{chat.LastMessage.Body}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start end">
                            <div class="contact-last-message-time" *ngIf="chat.LastMessage&&chat.LastMessage.CreatedOn">
                                {{chat.LastMessage.CreatedOn | date}}
                            </div>
                            <div *ngIf="chat.NoReadedMessage >0" class="mt-4 unread-message-count accent">{{chat.NoReadedMessage}}</div>
                        </div>

                    </div>

                </div>

            </button>

        </div>
        <!-- / CHATS LIST-->

        <!-- CONTACTS LIST
        <div class="contact-list" fxLayout="column">

            <h3  *ngIf="(contacts | filter: searchText).length > 0" style="margin-left: 5px; margin-bottom: 0px;">
                Contacts
            </h3>

            <button mat-button class="contact"
                    *ngFor="let contact of contacts| filter: searchText"
                    (click)="getChat(contact.id)"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div fxLayout="column" fxLayoutAlign="start start">
                        <div class="contact-name">{{contact.name}}</div>
                        <p class="contact-mood">{{contact.mood}}</p>
                    </div>

                </div>

            </button>

        </div> -->
        <!-- / CONTACTS LIST-->

        <!-- NO RESULTS MESSAGE -->
        <div *ngIf="users.length === 0" class="no-results-message">
            No results..
        </div>
        <!-- NO RESULTS MESSAGE-->

    </div>
    <!-- / CHATS CONTENT -->

</div>
<!-- / SIDENAV CONTENT -->
